<!DOCTYPE html>
<html>

<head>
    <title>System Update</title>
    <link rel="stylesheet" href="/static/cross_maths/style.css">
</head>

<body class="center-body">
    <div class="terminal-container">
        <h1 class="neon-text" style="color:#00ff66;">ALL SECTORS SECURED</h1>
        <p>You have completed all available missions.</p>
        <p style="color: yellow;">STATUS: Waiting for next system update...</p>
        <br>
        <a href="/" class="action-btn" style="text-decoration:none; display:block; text-align:center;">RETURN TO
            BASE</a>
    </div>
</body>

</html>